@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
}

button {
  cursor: pointer;
}

.page-section {
  position: relative;
  width: 100%;
}